<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://192.168.0.2:999/Bank" name="default_endpoint" binding="netTcpBinding" contract="BSK2_Service.IService1"></endpoint>
    </client>
  </system.serviceModel>
</configuration>